.loader1 {
  --size: 120px;
  --color: white;
  --animation-timing-function: linear;
  --animation-duration: 2s;
  position: relative;
  width: var(--size);
  height: var(--size);

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color);
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    animation: var(--animation-timing-function) var(--animation-duration)
      infinite circle-pulse-1-animation;
  }

  &::after {
    animation-delay: calc(var(--animation-duration) / 2);
  }
}

@keyframes circle-pulse-1-animation {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.loader2 {
  --size: 39px;
  --stroke-width: calc(var(--size) / 6);
  --color: var(--app-primary);
  --animation-timing-function: linear;
  --animation-duration: 4s;
  position: relative;
  width: var(--size);
  height: var(--size);
  animation: var(--animation-timing-function) var(--animation-duration) infinite
    plus-1-animation;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: var(--color);
  }

  &::before {
    top: 50%;
    left: 0;
    width: 100%;
    height: var(--stroke-width);
    transform: translateY(-50%);
  }

  &::after {
    top: 0;
    left: 50%;
    width: var(--stroke-width);
    height: 100%;
    transform: translateX(-50%);
  }
}

@keyframes plus-1-animation {
  0% {
    transform: rotate(0deg);
  }

  2.5% {
    transform: rotate(0deg);
  }

  22.5% {
    transform: rotate(90deg);
  }

  27.5% {
    transform: rotate(90deg);
  }

  47.5% {
    transform: rotate(180deg);
  }

  52.5% {
    transform: rotate(180deg);
  }

  72.5% {
    transform: rotate(270deg);
  }

  77.5% {
    transform: rotate(270deg);
  }

  97.5% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
