@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-primary: #fca5a5;
  --app-secondary: #7cb8ff;
  --app-text: #333;
  --app-bg: #f9f4e8;
  --app-border: #ebe6dc;
  --app-text-light: #888;
  --app-bg-dark: #e3dccb;
}

body {
  overflow: hidden;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

/*---------- USER ----------*/
.u-centering {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.u-centering-x {
  left: 50%;
  transform: translateX(-50%);
}

.u-centering-y {
  top: 50%;
  transform: translateY(-50%);
}

.u-shadow {
  filter: drop-shadow(0px 3px 12px rgba(0, 0, 0, 0.5))
    drop-shadow(2px 0px 5px rgba(0, 0, 0, 0.1));
}

.u-shadow-avatar {
  filter: drop-shadow(0px 3px 12px rgba(0, 0, 0, 0.5))
    drop-shadow(2px 0px 5px rgba(0, 0, 0, 0.3));
}

.u-shadow-sm {
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.3))
    drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
}

/*---------- LIBRARY ----------*/
.Toastify__toast-container {
  position: absolute;
}
