.balloon {
  display: flex;
  width: 100%;

  &.user {
    justify-content: flex-end;
    padding-right: 1rem;
  }

  &.assistant {
    justify-content: flex-start;
    padding-left: 1rem;
  }
}

.inner {
  position: relative;
  z-index: 0;
  max-width: 95%;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  line-height: 1.625;

  &.user {
    background-color: white;
  }

  &.assistant {
    position: relative;
    background-color: var(--app-secondary);
    color: white;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -2px;
      left: -3px;
      z-index: -1;
      width: 25px;
      height: 25px;
      background-color: var(--app-secondary);
      transform: rotate(12deg);
      clip-path: polygon(
        17% 67%,
        12% 81%,
        7% 90%,
        0 100%,
        20% 97%,
        38% 91%,
        53% 81%,
        71% 65%,
        52% 46%,
        23% 23%,
        20% 34%,
        20% 50%
      );
    }
  }
}
